# **Manual Backpropagation**

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/Firdatulayuni/Pendata/main/Manual%20Backpropagation.csv', sep=',')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,No,Nama Mahasiswa,IPK,Jumlah SKS,Lulus Tepat Waktu
1,NaN,1,Naila,3.7,120,Ya
2,NaN,2,Andi,3.0,90,Tidak
3,NaN,3,Budi,4.0,150,Ya
4,NaN,4,Abel,2.6,75,Tidak

link excel dibawah ini: 

[Manual Backpropagation](https://docs.google.com/spreadsheets/d/1JiU5Bts6xrDcqDF6opTEvd4-dkpIhdBUzwV_XvtzEis/edit?usp=sharing)